# conditional selection

In [1]:
import pandas as pd 
import numpy as np

In [26]:
# setting the seed value so that all the genrated value are same 
np.random.seed(101)

In [29]:
# creating a data frame
df = pd.DataFrame(np.random.randn(5,4),index='A B C D E'.split(),columns='W X Y Z'.split())

In [30]:
df

          W         X         Y         Z
A  0.190794  1.978757  2.605967  0.683509
B  0.302665  1.693723 -1.706086 -1.159119
C -0.134841  0.390528  0.166905  0.184502
D  0.807706  0.072960  0.638787  0.329646
E -0.497104 -0.754070 -0.943406  0.484752

In [36]:
# comparison opertor to genrate bool table
comp = df < 0

In [39]:
# passing boolean table in df to get the values 

print(df[comp])

# getting values by directly passing the comparison instead of boolean values  
df[df<0]

          W        X         Y         Z
A       NaN      NaN       NaN       NaN
B       NaN      NaN -1.706086 -1.159119
C -0.134841      NaN       NaN       NaN
D       NaN      NaN       NaN       NaN
E -0.497104 -0.75407 -0.943406       NaN

          W        X         Y         Z
A       NaN      NaN       NaN       NaN
B       NaN      NaN -1.706086 -1.159119
C -0.134841      NaN       NaN       NaN
D       NaN      NaN       NaN       NaN
E -0.497104 -0.75407 -0.943406       NaN

In [46]:
# conditional selection of a column 
# genrating boolean table for a column
col_comp = df['W'] < 0

print(col_comp)

# passing the boolean for column into data frame 
df[col_comp]
# can also specify the column to be viewed 
df[col_comp]['W']

A    False
B    False
C     True
D    False
E     True
Name: W, dtype: bool

C   -0.134841
E   -0.497104
Name: W, dtype: float64