# Multi index and index hierarchy

In [6]:
import pandas as pd
import numpy as np

In [38]:
outside = 'G1 G1 G1 G2 G2 G2 G3 G3 G3'.split()
inside = ['a','b','c','a','b','c','a','b','c']
print(outside)
# Zipping together 

tup_list = list(zip(outside,inside))
f_ind = pd.MultiIndex.from_tuples(tup_list)

['G1', 'G1', 'G1', 'G2', 'G2', 'G2', 'G3', 'G3', 'G3']

In [60]:
# genrated structure 
f_ind
# filling values in  the structure
df = pd.DataFrame(np.random.randn(9,4),index=f_ind,columns=[1,2,3,4])

In [61]:
df

             1         2         3         4
G1 a -2.403373  1.695150 -2.475466 -0.125492
   b  0.991489  1.379782 -0.335970  0.054285
   c  0.792117 -1.212467 -1.207975  1.064893
G2 a  0.067615  1.520900 -0.722035 -1.809429
   b -1.553418  0.594547 -0.085137 -1.001023
   c  0.571928  0.636945 -1.125320 -0.367841
G3 a -1.180942  0.924708 -1.952063  1.250761
   b -0.226357 -1.329070 -0.641143 -0.222612
   c -1.217087 -0.086460 -1.989569  0.866716

In [50]:
# creating a animal chart

animal = ['lion','lion','lion','elephant','elephant','elephant','owl','owl','owl']
power = ['attack','speed','focus','attack','speed','focus','attack','speed','focus']
tup = list(zip(animal,power))

In [54]:
# creating the structure 
stut = pd.MultiIndex.from_tuples(tup)

MultiIndex([(    'lion', 'attack'),
            (    'lion',  'speed'),
            (    'lion',  'focus'),
            ('elephant', 'attack'),
            ('elephant',  'speed'),
            ('elephant',  'focus'),
            (     'owl', 'attack'),
            (     'owl',  'speed'),
            (     'owl',  'focus')],
           )

In [68]:
# populating with data 
df_ani = pd.DataFrame(np.random.rand(9,4),index=stut,columns=['Morning','afternoon','evening','night'])

In [75]:
df_ani

                  Morning  afternoon   evening     night
lion     attack  0.810750   0.436313  0.819266  0.033518
         speed   0.640416   0.228246  0.030665  0.427052
         focus   0.957336   0.267345  0.117181  0.706286
elephant attack  0.486574   0.323009  0.784993  0.958742
         speed   0.793924   0.906495  0.801121  0.211364
         focus   0.628222   0.019478  0.519124  0.837787
owl      attack  0.214934   0.441973  0.340106  0.834701
         speed   0.983453   0.477667  0.505296  0.211917
         focus   0.163687   0.953895  0.107203  0.725442

# getting a specific value using the outer index

In [83]:
# have to use loc 
# getting outer values 

df_ani.loc['lion']

# getting inner values 

df_ani.loc['lion'].loc['attack'].loc['Morning']

0.810750268735232

# setting names

In [89]:
df_ani.index.names

FrozenList([None, None])

In [90]:
df_ani.index.names = ['animal','ability']

In [91]:
df_ani

                   Morning  afternoon   evening     night
animal   ability
lion     attack   0.810750   0.436313  0.819266  0.033518
         speed    0.640416   0.228246  0.030665  0.427052
         focus    0.957336   0.267345  0.117181  0.706286
elephant attack   0.486574   0.323009  0.784993  0.958742
         speed    0.793924   0.906495  0.801121  0.211364
         focus    0.628222   0.019478  0.519124  0.837787
owl      attack   0.214934   0.441973  0.340106  0.834701
         speed    0.983453   0.477667  0.505296  0.211917
         focus    0.163687   0.953895  0.107203  0.725442

# using cross section to access specific value

In [92]:
df_ani.xs('lion')

          Morning  afternoon   evening     night
ability
attack   0.810750   0.436313  0.819266  0.033518
speed    0.640416   0.228246  0.030665  0.427052
focus    0.957336   0.267345  0.117181  0.706286

In [94]:
df_ani.xs(('lion','speed'))

Morning      0.640416
afternoon    0.228246
evening      0.030665
night        0.427052
Name: (lion, speed), dtype: float64

In [96]:
# getting a specific attribute for all outer values 

df_ani.xs('focus',level='ability')

           Morning  afternoon   evening     night
animal
lion      0.957336   0.267345  0.117181  0.706286
elephant  0.628222   0.019478  0.519124  0.837787
owl       0.163687   0.953895  0.107203  0.725442